@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0, 0, 128; /* #000080 */
  --color-secondary: 65, 105, 225; /* #4169E1 */
  --color-accent: 255, 215, 0; /* #FFD700 */
  --color-background: 255, 255, 255; /* #FFFFFF */
  --color-text: 51, 51, 51; /* #333333 */
}

body {
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-background));
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* You can add more custom styles here if needed */
